<li>
  <%= gravatar_for user, size: Settings.const.gravatar_index_size %>
  <%= link_to user.name, user %>
  <% if can_delete? user %>
    | <%= link_to t(".delete"), user, method: :delete, data: {confirm: t(".confirm")} %>
  <% end %>
</li>
